server:
  error:
    include-message: always
    include-binding-errors: always
spring:
  datasource:
    password: postgres
    url: jdbc:postgresql://localhost:40000/regSystem
    username: oros
    name: regSystem


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        auto-index-creation: true
    show-sql: true

  mail:
    host: localhost
    port: 1025
    username: hello
    password: hello
    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
